@import '../variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  background-color: $themeColor;

  a:hover {
    color: lightgray;
  }
}

.footerNavWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footerNav {
  padding: 2*$unit 6*$unit 0 6*$unit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;

  & * {
    margin-bottom: $unit;
    width: fit-content;
  }
}

.hrFooter {
  width: 75%;
  border-color: #8464ab;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: $unit 0 2*$unit;
  color: white;
}

.creditsWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.githubLogo {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
}
